.quiz-zone {
	color:grey;
	border: 1px solid #d8d8d8;
	min-width: 250px;
	transition: all 0.3s linear;
	margin-right: 10%;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	justify-content : space-around;
	align-content   : center;
}

.quiz-zone:hover {
	-webkit-box-shadow: 0px 0px 0px 3px rgba(1,124,255,0.25);
	-moz-box-shadow: 0px 0px 0px 3px rgba(1,124,255,0.25);
	box-shadow: 0px 0px 0px 3px rgba(1,124,255,0.25);
}

.btn-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(1, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	margin-top: 20px;
}

.grey-title {
	color: rgba(0, 0, 0, 0.5);
}

h4 {
	margin-top: 15px;
}

.checkbox {
	display: inline-block;
	text-align: left;
	margin-bottom: 15px;
}

.custom-control-label {
	cursor: pointer;
}

.img {
	display: flex;
	order: 2;
	height:auto;
	cursor: pointer;
}

.checkbox-img {
	order: 2;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	max-width:100%;
    height:auto;
}

 li {
	justify-content: flex-start;
	text-align: left;
	color: black;
	list-style: none;
	min-width: auto;
	max-width: auto;
}

.results-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 2fr 2fr 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	margin-left: 20px;
}
}

#score-container {
	animation-delay: 0.5s;
	grid-area: 1 / 1 / 2 / 2;
}

#results-container {
	color: black;
	grid-area: 1 / 2 / 3 / 3;
	
}

#input-container {
	grid-area: 2 / 1 / 2 / 2;
}
#generate-btn {
	margin-top: auto;
	margin-bottom: auto;
	grid-area: 3 / 1 / 4 / 3;
}

.score-card {
	margin-left: 0px;
	max-width: 21rem; 
	min-width: 3rem;
	text-align: left;
}

.checkBoxList {
	max-width: 500px;
}

#prev-btn {
	text-transform: uppercase;
}
.generate-container {
	grid-area: 3 / 1 / 4 / 2;
}

.questionTxt {
	display: flex;
	order: 2;
}

.form-container {
	grid-area: 2 / 2 / 3 / 3;
	max-width: 21rem;
	min-width: 3rem;
	justify-content: center;
}

.form-group {
	margin-top: 5px;
}

.form-btn {
	margin-top: 10px;
	text-transform: uppercase;
	
}

.form-label {
	display: flex;
	justify-content: left;
}

.card-img {
	text-align: right;
}

.results-list {
	list-style: none;
	padding: 0;
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  height: 15px;
  width: 15px;
  min-height: 15px;
  min-width: 15px;
  transition: all 0.15s ease-out 0s;
  border: 2px solid #9faab7;
  outline: none;
  -webkit-box-shadow: 0px 0px 0px 3px rgba(1,124,255,0);
  -moz-box-shadow: 0px 0px 0px 3px rgba(1,124,255,0);
  box-shadow: 0px 0px 0px 3px rgba(1,124,255,0);

}
.option-input:hover {
  background: #9faab7;
  cursor: pointer;
}
.option-input:checked {
  	background: white;
	border: 4px solid #017cff;
	-webkit-box-shadow: 0px 0px 0px 3px rgba(1,124,255,0.25);
	-moz-box-shadow: 0px 0px 0px 3px rgba(1,124,255,0.25);
	box-shadow: 0px 0px 0px 3px rgba(1,124,255,0.25);
}

.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #40e0d0;

}
.option-input.radio {
  border-radius: 50%;
}
.option-input.radio::after {
  border-radius: 50%;
}

.progress {
	margin-bottom: 10px;
}

h4 {
    margin: 0px 0 20px 0px;
    text-align: left;
    font-weight: bold;
}

h5 {
	text-align: left;
}

.card-footer p {
	color: #bbb;
}

.item {
	display: flex;
	justify-content : space-between;
	background-color: white;
	border: 1px solid #d8d8d8;
	padding: 5px;
	border-radius: 4px;
	max-width: auto;
	min-width: 250px;
}



.score {
	font-weight: bold;
}

.hide {
	display: none;
}

@media screen and (max-width: 600px) {
	.btn-grid {
		display: flex;
		flex-direction: column;

	}

	.results-grid {
		display: flex;
		flex-direction: column;
		justify-content: center;

	}

	#score-container {
		display: flex;
		flex-direction: column;
		order: 3;
	}

	#results-container {
		display: flex;
		order: 2;
	}

	#input-container {
		display: flex;
		order: 1;
	}
	#generate-btn {
		display: flex;
		order: 4;

	}

	.col-md-8 {
		padding: 0px;
	}

	.img {
		display: flex;
		order: 2;
		margin-right: 1vh;
		width: auto;
		height: auto;
	}

}