.quiz-zone {
	color:black;
	border-radius:4px;
	border:1px solid #bbb;
	transition: all 0.3s linear;
	margin: 2px;
}

/*.quiz-zone:hover {
	-webkit-box-shadow:rgba(0,0,0,0.7) 0px 5px 10px, inset rgba(0,0,0,0.15) 0px -5px 10px;
	-moz-box-shadow:rgba(0,0,0,0.7) 0px 5px 10px, inset rgba(0,0,0,0.15) 0px -5px 10px;
	-o-box-shadow:rgba(0,0,0,0.7) 0px 5px 10px, inset rgba(0,0,0,0.15) 0px -5px 10px;
	box-shadow:rgba(0,0,0,0.7) 0px 5px 10px, inset rgba(0,0,0,0.15) 0px -5px 10px;
}*/

.btn-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}
.custom-control-input:hover {
	display: grid;
	background-color: green;
}

h5 {
	margin-top: 10px;
}



/*
.stretch box to two columns {
	grid-column-start: 1;
	grid-column-end: two;
}*/


.hide {
	display: none;
}